<p *ngIf="!users"><em>Loading...</em></p>

<table class='table' aria-labelledby="tableLabel" *ngIf="users">

  <thead>
    <tr>
      <th><input [(ngModel)]="userEmail" placeholder="email" /></th>
      <th><input [(ngModel)]="userRole" placeholder="role" /></th>
      <th><input [(ngModel)]="userPassword" placeholder="password" /></th>
      <th><button (click)="createUser()">Create user User</button></th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>
        <div [ngSwitch]=user.role>
          <ng-template ngSwitchCase="1">Admin</ng-template>
          <ng-template ngSwitchCase="2">Moder</ng-template>
          <ng-template ngSwitchDefault>User</ng-template>
        </div>
      </td>
      <td><button (click)="deleteUser(user.id)" >delete</button></td>
      <td><button>Edit</button></td>
    </tr>
  </tbody>
</table>

